@{
  Layout = "_Layout";
}

<h1>Hi Pierre!</h1>
<p>We know you want to have some information about vendors... Well, just click <a href="/vendors">this link</a> and you will be on your way!</p>
<h3>Thank you fo visiting us today!</h3>