@using Bakery.Models;

@{
  Layout = "_Layout";
}

<h2>Here are all orders for this vendor:</h2>
<ol>
  @foreach (Order order in Model["orders"])
  {
    <li>@order.Description</li>
  }
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to vendors list</a></p>
<p><a href='/'>Return to Main Page</a></p>